{{- define "main" -}}

{{/* Author profile page. */}}

{{/* If an account has not been created for this user, just display their name as the title. */}}
{{ if not .File }}

  {{/*  {{errorf "File not found for author: %s" .Title}}  */}}
  
  <section id="profile-page" class="pt-5">
    <div class="container">
      <div class="col-12 col-lg-4">
        <div id="profile">
          <div class="portrait-title">
            <h2>
                {{ .Title }}
            </h2>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        {{ $query := where .Pages ".IsNode" false }}
        {{ $count := len $query }}
        {{ if $count }}
        <div class="article-widget">
          <h3>{{ i18n "user_profile_latest" | default "Latest" }}</h3>
          <ul>
            {{ range $query }}
            <li>
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}

<section id="profile-page" class="pt-5">
  <div class="container">
    {{/* Show the About widget if an account exists for this user. */}}
    {{ if .File }}
      {{ $widget := "blocks/about.html" }}
      {{ $username := (path.Base .File.Dir) }}{{/* Alternatively, use `index .Params.authors 0` */}}
      {{ $params := dict "wcPage" $ "wcBlock" . "author" $username "Site" .Site }}
      {{ partial $widget $params }}
    {{end}}

  </div>
</section>

{{- end -}}
